.wrap{
    width: 700px;
    height: 5700px;
    background-color: purple;
    position: relative;
}
.container{
    width: 500px;
    height: 500px;
    background-color: royalblue;
}

.container .item{
    border: 3px dashed red;
}


.container .item:nth-child(1){
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.container .item:nth-child(2){
    width: 120px;
    height: 150px;
    background-color: orange;
    position: relative;
    top: 30px;
    left: 30px;
}
.container .item:nth-child(3){
    width: 70px;
    height: 150px;
    background-color: orangered;
    position: absolute;
    right: 0px;
    bottom: 0px;
}