.container{
    height: 500px;
    width: 500px;
    background-color: purple;
}
.container .item{
    border: 1px solid rgb(173, 255, 8);
    /* display: inline-block; */
}

.container .item:nth-child(1){
    height: 100px;
    width: 100px;
    background-color: #fff;
    position: relative;
    top: 50px;
}

.container .item:nth-child(2){
    height: 100px;
    width: 150px;
    background-color: #404040;
    position: relative;
    left: 30px;
}
.container .item:nth-child(3){
    height: 70px;
    width: 180px;
    background-color: #0c0c0c;
    position: relative;
    bottom: 10px;
}

